#soon-page {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	div {
		overflow: hidden;
		position: relative;
		float: right;
		height: 98px;
		padding-top: 10px;
		margin-top: -10px;
	}

	ul {
		padding: 0;
		animation: soon-flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
	}

	li {
		font-size: 4rem;
		color: #4d7eff;
		font-weight: 800;
		text-align: center;
		padding: 0 10px;
		height: 98px;
		margin-bottom: 98px;
		display: block;
	}
}

@keyframes soon-flip {
	0% {
		margin-top: -980px;
	}

	5% {
		margin-top: -784px;
	}

	20% {
		margin-top: -784px;
	}

	25% {
		margin-top: -588px;
	}

	40% {
		margin-top: -588px;
	}

	45% {
		margin-top: -392px;
	}

	60% {
		margin-top: -392px;
	}

	65% {
		margin-top: -196px;
	}

	80% {
		margin-top: -196px;
	}

	85% {
		margin-top: 0px;
	}

	99.99% {
		margin-top: 0px;
	}

	100% {
		margin-top: -784px;
	}
}
