.new-dictionary-drawer {
	.ant-drawer-body {
		padding: 1rem;
	}

	.ant-drawer-content-wrapper {
		width: 40% !important;
	}

	.languages-list {
		width: 100%;
	}
}

.dictionaries-settings-drawer {
	.ant-drawer-content-wrapper {
		width: 55% !important;
	}
}

@media (min-width: 1100px) {
	.new-dictionary-drawer {
		display: none;
	}
}

@media (min-width: 1500px) {
	.dictionaries-settings-drawer {
		display: none;
	}
}
