#new-dictionary {
	width: 45%;
	margin: 0 2rem;
	padding: 2rem;
	border-radius: 1.875rem;

	overflow: hidden;
	position: relative;

	box-shadow: 3px 3px 8px rgba(204, 213, 222, 0.9), -3px -3px 6px rgba(250, 255, 255, 0.9),
		3px -3px 6px rgba(204, 213, 222, 0.2), -3px 3px 6px rgba(204, 213, 222, 0.2),
		inset -1px -1px 2px rgba(204, 213, 222, 0.5), inset 1px 1px 2px rgba(250, 255, 255, 0.3);
}

@media (max-width: $xl-end) {
	#new-dictionary {
		padding: 1rem;

		label {
			margin: 0;
		}
	}
}

@media (max-width: 1099px) {
	#new-dictionary {
		width: 100% !important;
		margin: 0;

		.flag,
		.flag-placeholder {
			display: none;
		}
	}
}

@media (min-width: 1100px) {
	#new-dictionary .flag-btn,
	#new-dictionary .flag-placeholder-btn {
		display: none;
	}
}
