.nav-item:first-child {
	margin-top: 0;
}

.nav-item:last-child {
	margin-bottom: 0;
}

.nav-item {
	width: 100%;
	display: inline-flex;
	align-items: center;
	color: @body-background;
	border-radius: 1.5rem;
	font-weight: 800;
	padding: 0.5rem;
	margin: 0.24rem 0;

	&:hover {
		.nav-icon {
			background: @primary-color;
			fill: @body-background;
		}

		background: linear-gradient(167.01deg, #D8E1E8 0%, #EEF9FF 100%);
		box-shadow: 1px 1px 3px rgba(225, 235, 242, 0.9), -1px -1px 2px rgba(229, 239, 246, 0.9), 1px -1px 2px rgba(225, 235, 242, 0.2), -1px 1px 2px rgba(225, 235, 242, 0.2), inset -1px -1px 2px rgba(225, 235, 242, 0.5), inset 1px 1px 2px rgba(229, 239, 246, 0.3);
		color: unset;
	}

	&:active {
		color: unset;
		box-shadow: -1px -1px 2px rgba(225, 235, 242, 0.5), 1px 1px 2px rgba(229, 239, 246, 0.3), inset 1px 1px 3px rgba(225, 235, 242, 0.9), inset -1px -1px 2px rgba(229, 239, 246, 0.9), inset 1px -1px 2px rgba(225, 235, 242, 0.2), inset -1px 1px 2px rgba(225, 235, 242, 0.2);
	}

	.item-name {
		margin-left: 8px;
		font-size: 1.3rem;
	}
}

.nav-item.active {
	background: @body-background;
	color: @primary-color;
	box-shadow: -1px -1px 2px rgba(204, 213, 222, 0.5), 1px 1px 2px rgba(250, 255, 255, 0.3), inset 1px 1px 3px rgba(204, 213, 222, 0.9), inset -1px -1px 2px rgba(250, 255, 255, 0.9), inset 1px -1px 2px rgba(204, 213, 222, 0.2), inset -1px 1px 2px rgba(204, 213, 222, 0.2);

	.nav-icon {
		background: @primary-color;
		fill: @body-background;
	}
}

.nav-icon {
	background: @body-background;
	border-radius: 50%;
	padding: 4px;
}




/*---------------------  Breakpoints  ---------------------*/

@media (max-width: 1599px) {
	.nav-item {
		justify-content: center;
		width: auto;
	}
}
