@import "nav-item";

#nav {
	background: linear-gradient(326.91deg, rgba(255, 255, 255, 0.1) -0.87%, rgba(255, 255, 255, 0) 27.17%), 
				linear-gradient(155.21deg, #5685FF -1.71%, #3C6EEF 98.35%);
	border-radius: 30px;
	padding: 1.6vh 0.73vw;
	box-shadow: @nav-shadow;
	margin-right: 48px;

	#nav-header {
		text-align: center;
		margin-bottom: 3vh;

		#nav-logo {
			width: 60px;
			height: 60px;
			background-color: @body-background;
			padding: 7px;
			border-radius: 30px;
		}

		#nav-title {
			font-size: 2.2vw;
			margin-left: 8px;
			vertical-align: top;
			line-height: 60px;
			color: @body-background;
			font-family: "Vibur", cursive;
		}
	}

	.nav-divider {
		height: 1vh;
	}

	#nav-user-area {
		position: absolute;
		bottom: 2.75vh;
		left: 50%;
		transform: translate(-50%);
		text-align: center;
		width: 100%;

		#nav-avatar {
			width: 5.73vw;
			height: 5.73vw;
			border: 4px solid @body-background;
			border-radius: 100px;
			overflow: hidden;
		}

		@media screen and (max-width: 1200px) {
			#nav-avatar {
				width: 60%;
				height: 60%;
			}
		}

		#nav-username {
			display: block;
			color: @body-background;
			font-size: 2.1vh;
			font-weight: 800;
			margin-top: 8px;
		}

		#nav-upgrade-btn {
			display: inline-block;
			background-color: @body-background;
			color: @light-red;
			border-radius: 2.36vh;
			font-size: 2.1vh;
			font-weight: 800;
			padding: 12px 16px;
			margin-top: 1.5vh;
			box-shadow: @upgrade-btn-shadow;
			transition: 0.3s;
		}

		#nav-upgrade-btn:hover {
			box-shadow: @upgrade-btn-hover-shadow;
		}

		#nav-upgrade-btn:focus {
			transition: none;
			box-shadow: @upgrade-btn-focus-shadow;
		}
	}
}