#item-filters {
	width: 160px;
	margin-right: 2rem;
	background: $body-background;

	#filters-title {
		font-size: 22px;
		font-weight: 700;
	}

	.divider {
		margin: 0.8rem 0 !important;
	}

	.filters-container {
		width: 100%;
	}

	.filters-category {
		display: flex;
		flex-direction: column;
	}

	.category-title {
		font-weight: 700;
		font-size: 1.25rem;
		margin-bottom: 4px;
	}

	.filters-item {
		display: flex;
		margin-left: 0;
	}

	.checkbox-wrapper {
		width: 100%;
	}

	.checkbox-content {
		flex-grow: 2;
		justify-content: space-between;
	}

	.item-progress-badge {
		height: 10px;
		width: 10px;
		box-shadow: none;
	}

	.item-name {
		font-size: 16px;
	}

	.label-icon {
		float: right;
		margin-left: 14px;
	}

	.label-icon {
		height: 16px;
		width: 16px;
	}

	.divider {
		margin: 14px 0;
	}
}

#item-filters-drawer {
	.drawer-content {
		width: 30%;
	}

	#item-filters {
		width: 100%;
		margin: 0;
	}
}

@media (min-width: 1100px) {
	#item-filters-drawer .drawer-content {
		width: 20%;
	}
}

@media (min-width: $xl-start) {
	#item-filters-drawer {
		display: none;
	}
}

@media (max-width: $mlg-end) {
	#item-filters:not(.in-drawer) {
		display: none !important;
	}
}
