@import "./learning-card-front";
@import "./learning-card-back";

.learning-card {
	.header-row {
		align-items: center;
		margin-bottom: 1.5rem;

		.tooltip-container:nth-child(2) {
			flex-grow: 2;
		}

		.star-icon {
			height: 2.2rem;
			width: 2.2rem;
		}
	}

	.item-row {
		flex-direction: column;

		.divider {
			margin: 1rem 0;
		}
	}

	.text {
		width: 100%;
		font-weight: 700;
		text-align: center;
		overflow-wrap: anywhere !important;
		overflow: hidden;
	}

	.task-row {
		display: flex;
		align-items: flex-end;
	}

	.task {
		&.short {
			font-size: 3.8rem;
		}

		&.medium {
			font-size: 3.3rem;
		}

		&.long {
			font-size: 2.6rem;
		}
	}

	.answer-row {
		flex-direction: column;
	}

	.definition-row {
		height: 6.2rem;
		margin-top: 1.5rem;
		flex-direction: column;
	}

	.definition {
		text-align: justify;
		font-weight: 600;
		color: $text-color-grey;

		&.short {
			font-size: 1.4rem;
		}

		&.medium {
			font-size: 1.2rem;
		}

		&.long {
			font-size: 1rem;
		}
	}

	.actions-row {
		flex-grow: 2;
		align-items: flex-end;
		justify-content: space-between;

		.actions-btn {
			font-size: 1.5rem;
			font-weight: 800;
			padding: 0.5rem;
			border-radius: 1.875rem;
		}
	}
}

@media (max-width: 1450px) {
	.learning-card .task {
		&.short {
			font-size: 3.2rem !important;
		}

		&.medium {
			font-size: 2.8rem !important;
		}

		&.long {
			font-size: 2.1rem !important;
		}
	}
}

@media (max-width: $lg-end) {
	.learning-card {
		padding: 1.3rem !important;
	}
}
