@import "./learning-background";
@import "./learning-card";

#learning-container {
	position: relative;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: flex-start;
	padding: 2rem;
	border-radius: 1.875rem;

	box-shadow: -1px -1px 2px rgba(204, 213, 222, 0.5), 1px 1px 2px rgba(250, 255, 255, 0.3),
		inset 3px 3px 8px rgba(204, 213, 222, 0.9), inset -3px -3px 6px rgba(250, 255, 255, 0.9),
		inset 3px -3px 6px rgba(204, 213, 222, 0.2), inset -3px 3px 6px rgba(204, 213, 222, 0.2);
}

#learning {
	width: 100%;
	height: 92%;
	position: relative;
	display: flex;
	justify-content: center;

	perspective: 1000px;
}

#learning-content {
	height: 100%;
	width: 45%;
	position: relative;
	transition: transform 0.8s;
	transform-style: preserve-3d;

	&:hover {
		transform: rotateY(180deg);
	}
}

@media (max-width: @lg-end) {
	#learning-content {
		padding: 1.3rem !important;
	}
}

@media (max-width: 1099px) {
	#learning-content {
		width: 100% !important;
	}

	.learning-background {
		display: none;
	}
}
