@import "./learning-background";
@import "./learning-supporting-card";
@import "./learning-stats-brief";
@import "./learning-card";
@import "./learning-progressbar";

#learning-container {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	padding: 2rem;
	border-radius: 1.875rem;

	box-shadow: -1px -1px 2px rgba(204, 213, 222, 0.5), 1px 1px 2px rgba(250, 255, 255, 0.3),
		inset 3px 3px 8px rgba(204, 213, 222, 0.9), inset -3px -3px 6px rgba(250, 255, 255, 0.9),
		inset 3px -3px 6px rgba(204, 213, 222, 0.2), inset -3px 3px 6px rgba(204, 213, 222, 0.2);
}

#learning {
	width: 100%;
	height: 92%;
	position: relative;
	display: flex;
	justify-content: center;

	perspective: 1000px;
}

#learning-content {
	height: 100%;
	width: 45%;
	position: relative;
	transform-style: preserve-3d;

	will-change: transform;
	transition: all 1s linear;
}

.learning-card,
.learning-supporting-card {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-radius: 1.875rem;

	position: absolute;
	backface-visibility: hidden;
	transform: rotateX(0);

	background: @body-background;
	box-shadow: 3px 3px 8px rgba(204, 213, 222, 0.9), -3px -3px 6px rgba(250, 255, 255, 0.9),
		3px -3px 6px rgba(204, 213, 222, 0.2), -3px 3px 6px rgba(204, 213, 222, 0.2),
		inset -1px -1px 2px rgba(204, 213, 222, 0.5), inset 1px 1px 2px rgba(250, 255, 255, 0.3);

	&.flipped {
		transform: rotateY(180deg);
	}

	.row {
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 1099px) {
	#learning-content {
		width: 100% !important;
	}

	.learning-background {
		display: none;
	}
}
