.learning-card-front {
	.header-row {
		.difficulty-indicator {
			display: flex;
			align-items: center;

			.icon {
				height: 2rem;
				width: 2rem;
			}
		}
	}

	.item-row {
		height: 50%;

		.task-row {
			height: 40%;
		}

		.answer-row {
			height: 50%;
		}

		label {
			color: @text-color-grey;
		}

		.language-badge {
			margin-left: 0.3rem;
			border-radius: 8px;
			padding: 2px 6px;
			font-size: 0.75rem;
			line-height: 1rem;
			font-weight: 700;

			background: @text-color-grey;
			color: @body-background;
		}

		.answer {
			width: 100%;
			font-size: 1.875rem;
			text-align: center;
			color: @text-color-grey;
		}
	}

	.hint-btn {
		width: 25%;
		color: @text-color-grey;

		box-shadow: 4px 4px 10px rgba(204, 213, 222, 0.9), -4px -4px 8px rgba(250, 255, 255, 0.9),
			4px -4px 8px rgba(204, 213, 222, 0.2), -4px 4px 8px rgba(204, 213, 222, 0.2),
			inset -1px -1px 2px rgba(204, 213, 222, 0.5), inset 1px 1px 2px rgba(250, 255, 255, 0.3);

		.icon {
			height: 1.875rem;
			width: 1.875rem;
			fill: @warning-color;
		}

		span {
			margin: 0 4px;
			font-weight: 700;
		}

		&:hover {
			background: linear-gradient(167.32deg, #d8e1eb 0%, #eef9ff 100%);
		}

		&:active {
			box-shadow: -1px -1px 2px rgba(204, 213, 222, 0.5), 1px 1px 2px rgba(250, 255, 255, 0.3),
				inset 4px 4px 10px rgba(204, 213, 222, 0.9), inset -4px -4px 8px rgba(250, 255, 255, 0.9),
				inset 4px -4px 8px rgba(204, 213, 222, 0.2), inset -4px 4px 8px rgba(204, 213, 222, 0.2);
		}
	}

	.submit-btn {
		// width: 65%;
		width: 100%;
	}
}
