.learning-stats-brief {
	height: 100%;
	width: 100%;

	display: flex;

	.col {
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.cell {
		width: 100%;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 600;
		color: $text-color-grey;
	}

	.value {
		font-size: 3rem;
		font-weight: 700;
	}

	.correct-answers .value {
		color: $success-color;

		&.zero {
			color: $body-background-darker;
		}
	}

	.productivity .value {
		position: relative;
		color: $body-background-darker;

		&.low {
			color: $error-color;

			&::after {
				color: $text-color-grey;
			}
		}

		&.medium {
			color: $warning-color;

			&::after {
				color: $text-color-grey;
			}
		}

		&.high {
			color: $success-color;

			&::after {
				color: $text-color-grey;
			}
		}

		&::after {
			position: absolute;
			left: 104%;
			bottom: 0.9rem;
			content: "%";
			font-size: 1.125rem;
			font-weight: 700;
			line-height: 1.125rem;
			color: $body-background-darker;
		}
	}
}
