#item-details {
	height: 100%;
	margin-left: 2rem;
	width: calc(25% - 2rem);
	border-radius: 1.875rem;
	padding: 1rem;

	background: @body-background;
	box-shadow: 5px 5px 13px rgba(204, 213, 222, 0.9), -5px -5px 10px rgba(250, 255, 255, 0.9),
		5px -5px 10px rgba(204, 213, 222, 0.2), -5px 5px 10px rgba(204, 213, 222, 0.2),
		inset -1px -1px 2px rgba(204, 213, 222, 0.5), inset 1px 1px 2px rgba(250, 255, 255, 0.3);

	#details-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;

		.row {
			width: 100%;
			text-align: center;
		}

		.header-row {
			display: flex;
			align-items: center;
			margin-bottom: 1.6rem;

			.status-badge .ant-badge-status-dot {
				height: 1.8rem;
				width: 1.8rem;
				box-shadow: inset 6px 6px 6px rgba(29, 38, 25, 0.25);
			}

			.type {
				flex-grow: 2;
				margin: 0 7px 0 12px;
				font-size: 14px;
				font-weight: 600;
				text-align: center;
				color: @warning-color-darker;
			}

			.star-icon {
				height: 2.2rem;
				width: 2.2rem;
			}
		}

		.item-row {
			height: 11rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.original-row {
				height: 55%;
				display: flex;
				align-items: flex-end;
			}

			.translation-row {
				height: 30%;
				display: flex;
				align-items: flex-start;
			}

			.original {
				width: 100%;
				margin: 0;
				display: block;
				font-size: 2.25rem;
				font-weight: 700;
			}

			.translation {
				width: 100%;
				margin: 0;
				font-size: 1.25rem;
				font-weight: 700;
				color: @text-color-grey;
			}
		}

		.text-row {
			width: 100%;
			overflow: hidden;
		}

		.definition-row {
			height: 110px;
			margin-top: 2rem;

			.definition {
				width: 100%;
				text-align: justify;
				font-size: 1rem;
				font-weight: 700;
				color: @text-color-grey;
			}

			.definition-origin {
				width: 100%;
				margin-top: 8px;
				text-align: right;
				font-size: 12px;
				font-weight: 700;
			}
		}

		.stats-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-grow: 2;
			margin: 12px 0;

			.statistic {
				width: 45%;
			}

			.title {
				text-align: center;
				font-size: 0.875rem;
				font-weight: 600;
				color: @text-color-grey;
			}

			.counter {
				text-align: center;
				color: @primary-color;
				font-size: 2.2rem;
				line-height: 3.125rem;
				font-weight: bold;
			}
		}

		.date-row .date {
			font-size: 12px;
			color: @text-color-grey;
		}

		.actions-row {
			width: 100%;
			margin-top: 1.125rem;
			display: flex;
			justify-content: center;
		}

		.actions-btn {
			padding: 7px;
			margin-right: 1.5rem;

			box-shadow: 1px 1px 3px rgba(204, 213, 221, 0.9), -1px -1px 2px rgba(250, 255, 255, 0.9),
				1px -1px 2px rgba(204, 213, 221, 0.2), -1px 1px 2px rgba(204, 213, 221, 0.2),
				inset -1px -1px 2px rgba(204, 213, 221, 0.5), inset 1px 1px 2px rgba(250, 255, 255, 0.3);

			.icon {
				height: 2.375rem;
				width: 2.375rem;
			}

			&:hover {
				background: linear-gradient(135deg, #d8e1e9 0%, #eef9ff 100%);
			}

			&:active {
				box-shadow: -1px -1px 2px rgba(204, 213, 220, 0.5), 1px 1px 2px rgba(250, 255, 255, 0.3),
					inset 1px 1px 3px rgba(204, 213, 220, 0.9), inset -1px -1px 2px rgba(250, 255, 255, 0.9),
					inset 1px -1px 2px rgba(204, 213, 220, 0.2), inset -1px 1px 2px rgba(204, 213, 220, 0.2);
			}
		}

		.delete-btn {
			margin: 0;
		}
	}
}
