#item-filters {
	margin-right: 2rem;

	#filters-title {
		font-weight: 700;
		font-size: 28px;
		margin-bottom: 20px;
	}

	.category-title {
		font-weight: 700;
		font-size: 20px;
	}

	.filters-item {
		display: flex;
		margin-left: 0;
	}

	.ant-checkbox + span {
		flex-grow: 2;
		padding-right: 0;
	}

	.item-name {
		font-size: 16px;
	}

	.ant-badge {
		float: right;
		margin-left: 14px;
	}

	.ant-divider {
		background-color: #d3dfea;
		height: 2px;
		margin: 14px 0;
	}
}
