#item-filters {
	height: 100%;
	margin-right: 2rem;

	#filters-title {
		font-family: @font-family;
		color: @primary-color;
		font-weight: 700;
		font-size: 34px;
		margin-bottom: 14px;
	}

	#filters-container {
		h3 {
			font-family: @font-family;
			color: @primary-color;
			font-weight: 700;
		}

		span {
			font-size: 16px;
		}

		.ant-divider {
			background-color: #d3dfea;
			height: 2px;
			margin: 14px 0;
		}

		.checkbox {
			margin-bottom: 4px;

			.ant-checkbox {
				border-radius: 8px;
				border: 1px solid @body-background;

				&:hover {
					border: 1px solid @primary-color;
				}

				&-checked {
					border-radius: 10px;
				}
			}

			.ant-checkbox-inner {
				box-shadow: -1px -1px 2px rgba(204, 213, 222, 0.5), 1px 1px 2px rgba(250, 255, 255, 0.3),
					inset 1px 1px 3px rgba(204, 213, 222, 0.9), inset -1px -1px 2px rgba(250, 255, 255, 0.9),
					inset 1px -1px 2px rgba(204, 213, 222, 0.2), inset -1px 1px 2px rgba(204, 213, 222, 0.2);
				height: 20px;
				width: 20px;
				border: none;
				background: @body-background;
				border-radius: 8px;

				&:after {
					width: 6px;
					height: 10px;
					left: 26%;
				}
			}

			.ant-checkbox-checked .ant-checkbox-inner {
				background: linear-gradient(309.38deg, #1b86f0 6.86%, #4a9cef 94.61%);
				box-shadow: inset 1px 1px 2px rgba(7, 17, 31, 0.25), inset -1px -1px 3px rgba(255, 255, 255, 0.25);
			}
		}
	}
}
