$xxs-end: 479px;

$xs-start: 480px;
$xs-end: 575px;

$sm-start: 576px;
$sm-end: 767px;

$md-start: 768px;
$md-end: 991px;

$lg-start: 992px;
$lg-end: 1199px;

$mlg-start: 1200px;
$mlg-end: 1399px;

$xl-start: 1400px;
$xl-end: 1599px;

$xxl-start: 1600px;
$xxl-end: 1899px;

$xxxl-start: 1900px;




/*---------------------  xs (480px - 575px)  ---------------------*/
@media (max-width: 479px) {
	.xs-visible {
		display: none !important; // <= 479px - hidden, >= 480px - visible
	}
}

@media (min-width: 480px) {
	.xs-hidden {
		display: none !important; // <= 479px - visible, >= 480px hidden
	}
}




/*---------------------  sm (576px - 768px)  ---------------------*/
@media (max-width: 575px) {
	.sm-visible {
		display: none !important; // <= 575px - hidden, >= 576px - visible
	}
}

@media (min-width: 576px) {
	.sm-hidden {
		display: none !important; // <= 575px - visible, >= 576px hidden
	}
}




/*---------------------  md (768px - 991px)  ---------------------*/
@media (max-width: 767px) {
	.md-visible {
		display: none !important; // <= 767px - hidden, >= 768px visible
	}
}

@media (min-width: 768px) {
	.md-hidden {
		display: none !important; // <= 767px - visible, >= 768px hidden
	}
}




/*---------------------  lg (992px - 1199px)  ---------------------*/
@media (max-width: 991px) {
	.lg-visible {
		display: none !important; // <= 991px - hidden, >= 992px visible
	}
}

@media (min-width: 992px) {
	.lg-hidden {
		display: none !important; // <= 991px - visible, >= 992px hidden
	}
}




/*---------------------  mlg (1200px - 1399px)  ---------------------*/
@media (max-width: 1199px) {
	.mlg-visible {
		display: none !important; // <= 1199px - hidden, >= 1200px visible
	}
}

@media (min-width: 1200px) {
	.mlg-hidden {
		display: none !important; // <= 1199px - visible, >= 1200px hidden
	}
}




/*---------------------  xl (1400px - 1599px)  ---------------------*/
@media (max-width: 1399px) {
	.xl-visible {
		display: none !important; // <= 1399px - hidden, >= 1400px visible
	}
}

@media (min-width: 1400px) {
	.xl-hidden {
		display: none !important; // <= 1399px - visible, >= 1400px hidden
	}
}




/*---------------------  xxl (1600px - 1899px)  ---------------------*/
@media (max-width: 1599px) {
	.xxl-visible {
		display: none !important; // <= 1599px - hidden, >= 1600px visible
	}
}

@media (min-width: 1600px) {
	.xxl-hidden {
		display: none !important; // <= 1599px - visible, >= 1600px hidden
	}
}




/*---------------------  xxxl (>=1900px)  ---------------------*/
@media (max-width: 1899px) {
	.xxxl-visible {
		display: none !important; // <= 1899px - hidden, >= 1900px visible
	}
}

@media (min-width: 1900px) {
	.xxxl-hidden {
		display: none !important; // <= 1899px - visible, >= 1900px hidden
	}
}
