@media (max-width: 479px) {
	.xxs-hidden {
		display: none !important;
	}
}

@media (max-width: 575px) {
	.xs-hidden {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.sm-hidden {
		display: none !important;
	}
}

@media (max-width: 991px) {
	.md-hidden {
		display: none !important;
	}
}

@media (max-width: 1199px) {
	.lg-hidden {
		display: none !important;
	}
}

@media (max-width: 1399px) {
	.mlg-hidden {
		display: none !important;
	}
}

@media (max-width: 1599px) {
	.xl-hidden {
		display: none !important;
	}
}

@media (max-width: 1899px) {
	.xxl-hidden {
		display: none !important;
	}
}