$xxs-end: 479px;

$xs-start: 480px;
$xs-end: 575px;

$sm-start: 576px;
$sm-end: 767px;

$md-start: 768px;
$md-end: 991px;

$lg-start: 992px;
$lg-end: 1199px;

$mlg-start: 1200px;
$mlg-end: 1399px;

$xl-start: 1400px;
$xl-end: 1599px;

$xxl-start: 1600px;
$xxl-end: 1899px;

$xxxl-start: 1900px;
