/*---------------------  Overrides  ---------------------*/
@primary-color: #4d7eff;
@text-color: @primary-color;

@success-color: #27ae60;
@warning-color: #f2c94c;
@warning-color-darker: #f2994a;
@normal-color: #bdbdbd;

@body-background: #e3edf7;

// Base background color for most components
@component-background: @body-background;




/*---------------------  Custom  ---------------------*/
@body-background-darker: #d5e1ec;
@item-hover-background: #d8e2ec;

@light-red: #f16f6f;
@text-color-grey: #909aa4;
