$primary-color: #4d7eff;
$text-color: $primary-color;

$success-color: #27ae60;
$warning-color: #f2c94c;
$error-color: #f16f6f;
$normal-color: #bdbdbd;
$processing-color: #56ccf2;

$body-background: #e3edf7;

$tooltip-color: #2f394d;

$warning-color-darker: #f2994a;

$body-background-darker: #d5e1ec;
$item-hover-background: #d8e2ec;

$text-color-grey: #909aa4;
