/*---------------------  Overrides  ---------------------*/
@primary-color: #4d7eff;
@text-color: @primary-color;

@success-color: #27ae60;
@warning-color: #f2c94c;
@warning-color-darker: #f2994a;
//@error-color: @red-5;
@normal-color: #bdbdbd;

// Background color for `<body>`
@body-background: #e3edf7;

// Base background color for most components
@component-background: #e3edf7;

@layout-body-background: @body-background;
@layout-header-background: @body-background;




/*---------------------  Custom  ---------------------*/
@light-red: #f16f6f;
@text-color-grey: #909aa4;
