form {
	display: flex;
	width: 100%;
}

.form-item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;

	label {
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 8px;
		display: flex;
		align-items: center;
	}

	.text-input {
		text-align: center;
	}
}

.validation-error {
	position: absolute;
	right: 0;
	top: 3px;
	padding: 2px 16px;
	border-radius: 20px;
	z-index: 20;

	background: #eb5757;
	box-shadow: 2px 2px 8px rgba(122, 45, 45, 0.5), -1px -1px 6px rgba(228, 232, 244, 0.9),
		1px -1px 6px rgba(217, 223, 242, 0.2), 1px 1px 3px rgba(1, 0, 0, 0.2),
		inset -1px -1px 2px rgba(214, 93, 93, 0.5), inset 1px 1px 2px rgba(255, 162, 162, 0.3);

	& + input,
	& + textarea {
		border: 1px solid #eb5757 !important;
	}

	&::after {
		content: "‎";
		position: absolute;
		background-image: url("/images/triangle-red.svg");
		background-repeat: no-repeat;
		width: 40px;
		height: 20px;
		right: 12px;
		bottom: -12.9px;
		z-index: -1;
	}
}

.error-message {
	background: #eb5757;
	font-size: 1rem;
	font-weight: 600;

	color: $body-background;
}
