.icon {
	fill: @primary-color;
	height: 32px;
	width: 32px;
}

.logout-icon,
.delete-icon {
	fill: @light-red !important;
}

.learning-icon {
	transform: rotate(180deg);
}

.dropdown-icon {
	transform: rotate(90deg);
}

.star-icon {
	fill: #bfc8d1;
}
