/*---------------------  Overrides  ---------------------*/
@font-family: "Nunito", sans-serif;




/*---------------------  Custom  ---------------------*/
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 100%;
}
