@import "./globals/globals";

@import "./components/nav/nav";

body {
	background-color: $backgroundColor;

	font-family: "Nunito", sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	#main {
		height: 100vh;
		width: 100vw;
		padding: $mainPadding;
	}

	.grid {
		height: 100%;
		margin: 0 !important;
	}
	
	.column {
		padding: 0!important;
	}

	#content-col {
		padding-left: $mainPadding !important;
	}
}

// * {
// 	border: 1px dashed red;
// }
