@import "./globals/globals";

@import "./components/nav/nav";
@import "./components/topPanel/topPanel";

body {
	background-color: $backgroundColor;

	font-family: "Nunito", sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	#main {
		height: 100vh;
		width: 100vw;
		padding: $mainPadding;
	}

	.grid {
		height: 100%;
		margin: 0 !important;
	}
	
	.column {
		padding: 0!important;
	}

	#content-col {
		padding-left: $contentPaddingLeft !important;
	}

	#top-panel-row {
		height: $topPanelHeight;
		margin-bottom: $topPanelMarginBottom;
	}
}

// * {
// 	border: 1px dashed red;
// }
