@import "./list-container";
@import "./list-item";

#items-list {
	height: 100%;
	flex-grow: 2;
	display: flex;
	flex-direction: column;

	#content-container {
		display: flex;
		height: 90%;
		flex-grow: 2;
	}
}
