.list-item {
	height: 48px;
	padding: 8px !important;
	margin-bottom: 12px;
	border-radius: 20px;
	box-shadow: 4px 4px 20px rgba(111, 140, 176, 0.41), -6px -6px 20px rgba(255, 255, 255, 0.75),
		2px 2px 4px rgba(114, 142, 171, 0.1);

	.list-item-row {
		height: 100%;
		width: 100%;
		font-size: 20px;
		font-weight: 600;

		.progress-bar {
			display: inline-block;
			width: 12px;
			height: 100%;
			margin-right: 12px;
			border-radius: 20px 10px 10px 20px;
			box-shadow: inset 4px 4px 4px rgba(29, 38, 25, 0.25);

			&.learned {
				background-color: @success-color;
			}

			&.in-progress {
				background-color: @warning-color;
			}

			&.untouched {
				background-color: @normal-color;
			}
		}

		.selector {
			.ant-checkbox {
				border-radius: 10px;
				border: 1px solid @body-background;

				&:hover {
					border: 1px solid @primary-color;
				}

				&-checked:hover {
					border-radius: 12px;
				}
			}

			.ant-checkbox-inner {
				box-shadow: inset 1px 1px 4px rgba(111, 140, 176, 0.41), inset -1px -1px 4px #ffffff;
				height: 30px;
				width: 30px;
				border: none;
				background: linear-gradient(308.48deg, #e3edf7 2.36%, #e3edf7 51.86%, #e3edf7 61.95%), #4c7eff;
				border-radius: 10px;

				&:after {
					width: 8px;
					height: 14px;
					left: 28%;
				}
			}

			.ant-checkbox-checked .ant-checkbox-inner {
				background: linear-gradient(309.38deg, #1b86f0 6.86%, #4a9cef 94.61%);
				box-shadow: inset 1px 1px 2px rgba(7, 17, 31, 0.25), inset -1px -1px 3px rgba(255, 255, 255, 0.25);
			}

			.ant-checkbox-checked:after {
				border: none;
			}
		}

		.text-col,
		.item-divider-col {
			overflow: hidden;
			white-space: nowrap;
			text-align: center;
			text-overflow: ellipsis;
		}

		.translation {
			color: #909aa4;
		}

		.ant-divider {
			background-color: #d3dfea;
			width: 2px;
			height: 100%;
		}

		.item-actions {
			float: right;

			.item-star-btn {
				background-color: @body-background;
				border-radius: 20px;
				
				box-shadow: 1px 1px 8px rgba(111, 140, 176, 0.41), -3px -3px 10px rgba(255, 255, 255, 0.75);
			
				i {
					color: @warning-color;
					vertical-align: text-top;
				}
			}

			.item-actions-dropdown {
				background-color: @body-background;
				border-radius: 20px;
				
				box-shadow: 1px 1px 8px rgba(111, 140, 176, 0.41), -3px -3px 10px rgba(255, 255, 255, 0.75);
			
				i {
					vertical-align: text-top;
				}
			}
		}
	}
}
