* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: $body-background;
}

#root {
	min-height: 720px;
	min-width: 960px;
	width: 100vw;
	height: 100vh;
}

#main {
	height: 100%;
	padding: 2rem;
	display: flex;
	overflow: hidden;
	background: $body-background;
}

#page-content {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	height: 100%;
}
