@import "./item-filters/item-filters";
@import "./item-details/item-details";
@import "./items-list/items-list";
@import "./items-list/drawers";

#dashboard {
	height: 100%;
	padding: 2rem;
	border-radius: 1.875rem;
	overflow: hidden;
	display: flex;

	box-shadow: -1px -1px 2px rgba(204, 213, 222, 0.5), 1px 1px 2px rgba(250, 255, 255, 0.3),
		inset 3px 3px 8px rgba(204, 213, 222, 0.9), inset -3px -3px 6px rgba(250, 255, 255, 0.9),
		inset 3px -3px 6px rgba(204, 213, 222, 0.2), inset -3px 3px 6px rgba(204, 213, 222, 0.2);
}
