/* Background */
$backgroundColor: #E3EDF7;

/* NavBar */
$navBackgroundColorGradient: linear-gradient(326.91deg, rgba(255, 255, 255, 0.1) -0.87%, rgba(255, 255, 255, 0) 27.17%), 
							 linear-gradient(155.21deg, #5685FF -1.71%, #3C6EEF 98.35%);
$navBackgroundColor: #4D7EFF;
$navPadding: 15px;
$upgradeColor: #F16F6F;

/* NavItem */
$navItemHeight: 48px;
$navItemMargin: 10px;
$navItemPadding: 8px;

/* Paddings */
$mainPadding: 40px;

/* Borders */
$mainBorderRadius: 30px;